#cost{
    text-align: right;
    font-weight: bold;
}

.costRed{
    background-Color: red;
}

header{
    background-color: grey;
    color: white;
    text-align: center;
    height: 100px;
}

#addEmployee{
    text-align: center;
}
